h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    background-color: aqua;
}
body {
    background-color: aqua;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: gray;
}   
p3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    text-emphasis: none;;
}
