h1 {
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    background-color: aqua;
}
body{
    background-color: rgb(255, 255, 255);
}